<?xml version="1.0"?>
<config>
	<modules>
		<Ambab_Pincode>
			<version>1.0.0</version>
		</Ambab_Pincode>
	</modules>
	<frontend>
		<routers>
			<pincode>
				<use>standard</use>
				<args>
					<module>Ambab_Pincode</module>
					<frontName>pincode</frontName>
				</args>
			</pincode>
		</routers>
		<layout>
		            <updates>
		                <pincode>
		                    <file>pincode.xml</file>
		                </pincode>
		            </updates>
		        </layout>
	</frontend>
	<admin>
		<routers>
			<pincode>
				<use>admin</use>
				<args>
					<module>Ambab_Pincode</module>
					<frontName>admin_pincode</frontName>
				</args>
			</pincode>
		</routers>
	</admin>
	<global>
		<helpers>
			<pincode>
				<class>Ambab_Pincode_Helper</class>
			</pincode>
		</helpers>
	</global>
	<adminhtml>
		<menu>
			<pincode module="pincode">
				<title>Pincode</title>
				<sort_order>100</sort_order>
				<children>
					<pincode module="pincode">
						<title>Pincode</title>
						<sort_order>0</sort_order>
						<action>admin_pincode/adminhtml_index</action>
					</pincode>
				</children>
			</pincode>
		</menu>
		<!-- <acl>
			       <resources>
		            <all>
		                <title>Allow Everything</title>
		            </all>
		            <admin>
		                <children>
		                    <pincode>
		                        <title>Pincode Module</title>
		                        <sort_order>200</sort_order>
		                    </pincode>
		                </children>
		            </admin>
			        </resources>   
			    </acl> -->
	   <!--  <layout>
	       <updates>
	           <pincode>
	               <file>pincode_check.xml</file>
	           </pincode>
	       </updates>
	   </layout> -->
	</adminhtml>
	<global>
		<models>
			<pincode>
				<class>Ambab_Pincode_Model</class>
				<resourceModel>pincode_mysql4</resourceModel>
			</pincode>
			<pincode_mysql4>
				<class>Ambab_Pincode_Model_Mysql4</class>
				<entities>
					<pincode>
						<table>zipcode</table>
					</pincode>
				</entities>
			</pincode_mysql4>
		</models>
		<resources>
			<pincode_setup>
				<setup>
					<module>Ambab_Pincode</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</pincode_setup>
			<pincode_write>
				<connection>
					<use>core_write</use>
				</connection>
			</pincode_write>
			<pincode_read>
				<connection>
					<use>core_read</use>
				</connection>
			</pincode_read>
		</resources>
		<blocks>
			<pincode>
				<class>Ambab_Pincode_Block</class>
			</pincode>
		</blocks>
		<helpers>
			<pincode>
				<class>Ambab_Pincode_Helper</class>
			</pincode>
		</helpers>
	</global>
</config>